
{% extends 'base.html.twig' %}
{% block div %}
<!-- Page Content -->
            <div id="page-wrapper col-lg-12">
                <div class="container-fluid">
                    <div class="row"><br><br>
                        <div class="col-lg-12">
                            <h1 class="page-header">Login sur le site</h1>
                        </div>
                        <div class="panel">
                            <!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                                    
                            <!-- /.modal -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Login
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body"> 
                                    <form action="" method="post">
                                        <label>email</label>
                                         <input label="email" type="text" class="form-control" name="_username" placeholder="Votre email"/><br>
                                        <label>password</label>
                                        <input type="password" class="form-control" name="_password" placeholder="Votre mot de passe"/>
                                    <br><input type="submit" value="Connexion" class="btn btn-primary">
                                    </form>
                                      
                                    
                                    
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

{% endblock %}
