
{% extends 'base.html.twig' %}
{% block div %}
<!-- Page Content -->
            <div id="page-wrapper col-lg-12">
                <div class="container-fluid">
                    <div class="row"><br><br>
                        <div class="col-lg-12">
                            <h1 class="page-header">Inscription sur le site</h1>
                        </div>
                        <div class="panel">
                            <!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                                    
                            <!-- /.modal -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Formulaire
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body"> 
                                    
                                       {{ form_start(form) }}
                                            {{ form_row(form.username , {'attr':{'class': "form-control"}}) }} 
                                            {{ form_row(form.email , {'attr':{'class': "form-control"}}) }}
                                            {{ form_row(form.password , {'attr': {'class': "form-control" }}) }}
                                            {{ form_row(form.confirm_password , {'attr': {'class': "form-control" }}) }}
                                         <button type="submit" class="btn btn-primary"> Inscription</button>
                                            
                                        {{ form_end(form) }}
                                    
                                    
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

{% endblock %}
