<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Demo Symfony</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/placeholder/favicon.ico') }}">
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ asset('assets/css/metisMenu.min.css') }}" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="{{ asset('assets/css/timeline.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('assets/css/startmin.css') }}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{{ asset('assets/css/morris.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
       
    </head>
    <body>
    <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         
                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a><i class="fa fa-home fa-fw"></i> SumfonyBlog</a></li>
                    <li><a  href="{{ path('article') }}" {% if active =='article' %} class="btn btn-default" {% endif %}> Articles</a></li>
                    <li><a  href="{{ path('new') }}" {% if active =='form' %} class="btn btn-default" {% endif %}> Creer Articles </a></li>
                    <li><a  href="{{ path('registration') }}" {% if active =='registration' %} class="btn btn-default" {% endif %} title="creer compte dans le site"> S'inscrire</a></li>
                    
                   {% if not app.user %} 
                    <li><a  href="{{ path('login') }}" {% if active =='login' %} class="btn btn-default" {% endif %} title="Login"> Se conneceter</a></li>
                    {% else %}
                    <li><a  href="{{ path('logout') }}" {% if active =='login' %} class="btn btn-default" {% endif %} title="Se deconnecter"> Deconnecter</a></li>
                    {% endif %}
                    

                </ul>
                
            </nav>
            {% block div %}
            {% endblock %}
            

        </div>
        <!-- /#wrapper -->
        
        
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ asset('assets/js/metisMenu.min.js') }}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="{{ asset('assets/js/raphael.min.js') }}"></script>
        <script src="{{ asset('assets/js/morris.min.js') }}"></script>
        <script src="{{ asset('assets/js/morris-data.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('assets/js/startmin.js') }}"></script>

        
    </body>
</html>
