
{% extends 'base.html.twig' %}
{% block div %}
<!-- Page Content -->
            <div id="page-wrapper col-lg-12">
                <div class="container-fluid">
                    <div class="row"><br><br>
                        <div class="col-lg-12">
                            <h1 class="">Nos articles disponibles</h1>
                            <div class="panel col-lg-12">
                            {% for article in articles %}
                             <div class="bouclr"> <br>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="">
                                            <div class="col-lg-3">
                                                 <h4>Dans la categories : {{article.categorie.titreCategorie}}</h4>
                                                <img src="{{ asset('assets/placeholder/530x270.png') }}" width="300px" height="300px"/>
                                            </div>
                                            <div class="col-lg-9">
                                                <h1>{{article.titre}}</h1>
                                                <p>{{article.contenu}}
                                                </p>
                                                <p><a  href="{{ path('show', {'id':article.id})}}"  class="btn btn-primary btn-lg" role="button">Plus de details</a>
                                                    <a href="{{ path('edit', {'id':article.id})}}" class="btn btn-success btn-lg" role="button">Editer l'article</a>
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- /.col-lg-12 -->
                                </div>
                                <!-- /.row --><hr>
                             </div><!-- boucle -->
                             {% endfor %}

                           <div>
                        </div>
                        
                        
                        <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

{% endblock %}
