
{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig'  %}
{% block div %}
<!-- Page Content -->
            <div id="page-wrapper col-lg-12">
                <div class="container-fluid">
                    <div class="row"><br><br>
                        <div class="col-lg-12">
                            <h1 class="page-header">Formulaire </h1>
                        </div>
                        <div class="panel">
                            <!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                                    
                            <!-- /.modal -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Formulaire
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    
                                       {{ form_start(formArticle) }}
                                            {{ form_row(formArticle.titre , {'attr':{'class': "form-control"}}) }} 
                                            {{ form_row(formArticle.Categorie , {'attr':{'class': "form-control"}}) }}
                                            {{ form_row(formArticle.contenu , {'attr': {'class': "form-control" }}) }}
                                            <br>
                                            {% if editMode %}
                                                <button type="submit" class="btn btn-primary"> Sauvegarder la modification</button>
                                            {% else %}
                                                <button type="submit" class="btn btn-primary"> Inserer</button>
                                            {% endif %}
                                                {{ form_end(formArticle) }}
                                    
                                    
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

{% endblock %}
