
{% extends 'base.html.twig' %}
{% block div %}
<!-- Page Content -->
            <div id="page-wrapper col-lg-12">
                <div class="container-fluid">
                    <div class="row"><br><br>
                        <div class="col-lg-12">
                            <h1 class="">Nos articles disponibles</h1>
                            <div class="panel col-lg-12">
                             <div class="boucle"> <br>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="">
                                            <div class="col-lg-3">
                                                 <h4>Dans la categories : {{article.categorie.titreCategorie}}</h4>
                                                <img src="{{ asset('assets/placeholder/530x270.png') }}" width="300px" height="300px"/>
                                            </div>
                                            <div class="col-lg-9">
                                                <h1>{{article.titre}}</h1>
                                                <p>{{article.contenu}}
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-12 -->
                                </div><br><br>
                                <!-- /.row -->
                                <!-- /.panel -->
                            <div class="chat-panel panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-comments fa-fw"></i>
                                     {{ article.commentaires | length }} commentaires
                                    
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <ul class="chat">
                                    {% for commentaire in article.commentaires %}
                                        <li class="left clearfix">
                                                <span class="chat-img pull-left">
                                                    <i class="fa fa-user"></i>
                                                </span>

                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font">{{commentaire.auteur}}</strong>
                                                    <small class="pull-right text-muted">
                                                        <i class="fa fa-clock-o fa-fw"></i> le {{commentaire.dateCommentaire | date('d/m/Y à h:i:s')}}
                                                    </small>
                                                </div>
                                                <p>
                                                    {{commentaire.contenuCommentaire}}
                                                </p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                <!-- /.panel-body -->
                                <div class="panel-footer">
                                    {% if app.user %}
                                         {{ form_start(formCommentaire)}}
                                         {{ form_row(formCommentaire.Auteur , {'attr':{'class': "form-control"}}) }} 
                                         {{ form_row(formCommentaire.ContenuCommentaire , {'attr':{'class': "form-control"}}) }}
                                        <button type="submit" class="btn btn-success">Commenter</button>
                                        {{ form_end(formCommentaire)}}
                                    {% else %}
                                        <p>Vous devez connecter por commenter </p>
                                        <a class="btn btn-primary" href="{{ path('login') }}">Se connecter maintenant</a>
                                    {% endif %}
            
                                </div>
                             </div>

                           <div>
                        </div>
                        
                        
                        <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

{% endblock %}
